<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yak.Base - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/tagmanager")
    @RenderSection("scripts", required: false)
    <link href="~/Scripts/mdd_styles.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yak.Base", "Index", "Stack", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Stack")</li>
                    <li>@Html.ActionLink("New", "New", "Question")</li>
                    <li>@Html.ActionLink("Rebuild index", "RebuildIndexes", "Question")</li>
                </ul>
                <ul class="nav nav-pills navbar-right navbar-nav">
                    <li><a href="#">Hello @UsernameExtractor.ExtractUsername(Context.User.Identity.Name) !</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (@Html.Controller() == "Stack" && @Html.Action() == "Index")
        {
            <header>
                <input type="text" class="input-lg search input-block-level typeahead" placeholder="Search..." style="box-sizing: border-box;">
            </header>
        }
        <div style="margin-bottom: 20px;">
            @RenderBody()
        </div>
        <footer>
            <p>Yak&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    <script type="text/javascript">
        $(".search").typeahead(
            null,
            {
                name: 'questions',
                source: function (query, process) {
                    return $.getJSON('@Url.Action("FilterQuestions", new { @controller = "Question" })', { query: query }, function (data) {
                        return process(JSON.parse(data));
                    });
                },
                templates: {
                    empty: [
                        '<div class="empty-message">',
                        'unable to find any question that match the current query',
                        '</div>'
                    ].join('\n'),
                    suggestion: Handlebars.compile('<div><div><h4>{{value}}</h4><p>{{content}}<p></div><hr class="autocompleteSeparator"/></div>')
                }
            }).bind('typeahead:selected', function (obj, datum) {
                window.location.href = '@Url.Action("View", "Question")/' + datum.id;
            });
    </script>
</body>
</html>
