@model IList<Yak.Web.Models.CommentViewModel>

@using Humanizer

@foreach (var comment in Model)
{
    var blockVoteUpOption = comment.HasUserAlreadyVotedUp(User.DatabaseUser.Id);
    var blockVoteDownOption = comment.HasUserAlreadyVotedDown(User.DatabaseUser.Id);

    <hr style="margin-top:5px; margin-bottom:5px;" />
    <div class="comment-details" style="padding: 5px 5px 5px 5px;">
        <div class="vote-box-small">
            <div class="vote-up @if (blockVoteUpOption) { <text>vote-blocked</text> }" data-commentId="@comment.Comment.Id"><i class="fa fa-angle-up fa-3 size-1em"></i></div>
            <div class="votes-count"><span style="font-size: 1em;">@comment.Comment.RankPoint</span></div>
            <div class="vote-down @if (blockVoteDownOption) { <text>vote-blocked</text> }" data-commentId="@comment.Comment.Id"><i class="fa fa-angle-down fa-3 size-1em"></i></div>
        </div>
        <div class="comment-content" style="min-height:4.3em; overflow: auto;">
            <p>@Html.Raw(comment.Comment.Content)</p>
            <div>
                <span style="float:right;">@comment.Comment.LastModificationDate.Humanize(true, DateTime.UtcNow, System.Globalization.CultureInfo.InvariantCulture) by @comment.Comment.Author.Username</span>
            </div>
            <div class="clearfix">
                <div class="clearfix"></div>
                
                <div class="comment-actions">
                    @if (comment.Comment.Author.Id == User.DatabaseUser.Id)
                    {
                        // TODO: delete option
                    }
                </div>
            </div>
        </div>
    </div>
}