@model Yak.Web.Models.AnswerForm

@{
    ViewBag.Title = "AnswerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well" style="margin-top: 20px; text-align:center; padding: 1px;">
        <h4>Question:</h4>
        @Html.Action("ViewQuestionContent", new { controller = "Question", id = Model.QuestionId })
    </div>
</div>
<hr class="dl-horizontal" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.QuestionId)
    <div class="row">
        <div>
            <div class="mdd_toolbar"></div>
            @Html.TextAreaFor(model => model.Content, new { @class = "mdd_editor form-control" })
            <br />
            <input type="button" class="btn btn-default toggle-preview" value="Show/Hide preview" />
            <div class="markup-preview-box" style="display: none;">
                <h4>Preview:</h4>
                <div class="mdd_preview"></div>
            </div>
        </div>
        <hr class="dl-horizontal" />
        <input type="submit" value='@((Model != null && Model.Id > 0) ? "Update" : "Create")' class="btn btn-success" style="width: 100%;" />
    </div>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/MarkdownDeepLib.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Answer/NewAnswer.js")"></script>
<script type="text/javascript">
    PrepareMarkdownEditor();
</script>


