@model Yak.Web.Models.QuestionForm

@{
    ViewBag.Title = "QuestionForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="well" style="margin-top: 20px; text-align:center; padding: 1px;"><h1>Ask a question</h1></div>
</div>
<hr class="dl-horizontal" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="input-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "input-group-addon" })
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <br/>
            <div>
                <div class="mdd_toolbar"></div>
                @Html.TextAreaFor(model => model.Content, new { @class = "mdd_editor form-control" })
                <br/>
                <div class="markup-preview-box">
                    <span>Preview:</span>
                    <div class="mdd_preview"></div>
                </div>
            </div>
            <br/>
            <div class="input-group">
                @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "input-group-addon" })
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <hr class="dl-horizontal" />
                <input type="submit" value="Create" class="btn btn-success" style="width: 100%;" />
        </div>

    }

@*<div class="container clearfix" style="margin-top: 40px;">
        <div class="row">
            <div class="btn-group btn-group-justified">
                @Html.ActionLink("Back to List", "Index", "Stack", new { @role = "button", @class = "btn btn-default" })
            </div>
        </div>
    </div>*@

<script type="text/javascript" src="@Url.Content("~/Scripts/MarkdownDeepLib.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Question/NewQuestion.js")"></script>
