@using System.Activities.Statements
@using System.Linq
@model Yak.DTO.Question

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 20px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>@Model.Title</h3>
            <hr/>
            <span><i>@Model.AuthorName - @Model.CreateDate.ToShortDateString()</i></span>
        </div>
        <div class="panel-body">
            
            <p>@Html.Raw(@Model.Content)</p>
        </div>
        @foreach (var item in Model.Tags)
        {
            <span>@item.Name</span>
        }
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index", "Stack")
    </p>
</div>
