@using Humanizer
@model Yak.Web.Models.QuestionViewModel

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var blockVoteUpOption = Model.HasUserAlreadyVotedUp(User.DatabaseUser.Id);
    var blockVoteDownOption = Model.HasUserAlreadyVotedDown(User.DatabaseUser.Id);
}
<div class="col-lg-12 col-md-12 col-xs-12">
    <div class="question-details">
        <div class="question-title">
            Question: @Model.Question.Title
        </div>
        <div class="vote-box">
            <div class="vote-up @if (blockVoteUpOption) { <text>vote-blocked</text> }" data-questionId="@Model.Question.Id"><i class="fa fa-arrow-circle-o-up fa-3 size-3em"></i></div>
            <div class="votes-count"><span style="font-size: 2em;">@Model.Question.RankPoint</span></div>
            <div class="vote-down @if (blockVoteDownOption) { <text>vote-blocked</text> }" data-questionId="@Model.Question.Id"><i class="fa fa-arrow-circle-o-down fa-3 size-3em"></i></div>
        </div>
        <div class="question-content">
            <div class="question-author-details pull-right col-md-2 text-center">
                <img width="82" height="82" src="@Url.Content("~/Content/images/user128.png")" />
                <div>@Model.Question.CreateDate.Humanize()</div>
                <div>by</div>
                <div>@Model.Question.AuthorName</div>
            </div>
            @Html.Raw(@Model.Question.Content)
            <div class="clearfix">
                <div class="clearfix question-tags">
                    @foreach (var item in Model.Question.Tags)
                    {
                        <span class="label label-default">@item.Name</span>
                    }
                </div>
                <div class="question-actions">
                    <span class="label label-default add-comment">ADD COMMENT</span> • 
                    <span class="label label-success add-answer">ADD ANSWER</span>
                    @if (Model.Question.Author.Id == User.DatabaseUser.Id)
                    {
                        @:•
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Question.Id })
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".question-details .vote-box .vote-up").click(function () {
        var self = $(this);
        var questionId = $(this).attr("data-questionId");
        var $votesCountElement = $(".votes-count span");

        if ($(this).hasClass("vote-blocked")) return;

        $.ajax(
            {
                url: '@Url.Action("VoteUp", "Question")',
                data: { "questionId": questionId },
                dataType: "json",
                method: "post",
                success: function(data)
                {
                    $votesCountElement.text(data.rankPoint);
                    self.addClass("vote-blocked");
                    $(".question-details .vote-box .vote-down").removeClass("vote-blocked");
                }
            });
    });

    $(".question-details .vote-box .vote-down").click(function () {
        var self = $(this);
        var questionId = $(this).attr("data-questionId");
        var $votesCountElement = $(".votes-count span");

        if ($(this).hasClass("vote-blocked")) return;

        $.ajax(
            {
                url: '@Url.Action("VoteDown", "Question")',
                data: { "questionId": questionId },
                dataType: "json",
                method: "post",
                success: function (data) {
                    $votesCountElement.text(data.rankPoint);
                    self.addClass("vote-blocked");
                    $(".question-details .vote-box .vote-up").removeClass("vote-blocked");
                }
            });
    });

</script>