@using Humanizer
@model Yak.DTO.Question

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 col-md-12 col-xs-12">
    <div style="margin-top: 20px; padding-top:10px; overflow:auto;" class="question-details">
        <div class="question-title" style="font-weight: bold;">
            Question: @Model.Title
        </div>
        <div class="vote-box" style="text-align: center; vertical-align: middle; overflow:auto;">
            <div class="vote-up"><i class="fa fa-arrow-circle-o-up fa-3" style="font-size: 3em;"></i></div>
            <div class="votes-count"><span style="font-size: 2em;">0</span></div>
            <div class="vote-down"><i class="fa fa-arrow-circle-o-down fa-3" style="font-size: 3em;"></i></div>
        </div>
        <div class="question-content" style="overflow: auto; min-height: 9em;">
            <div class="question-author-details pull-right col-md-2 text-center" style="float: right; height: 100%;">
                <img width="82" height="82" src="@Url.Content("~/Content/images/user128.png")" />
                <div>@Model.CreateDate.Humanize()</div>
                <div>by</div>
                <div>@Model.AuthorName</div>
            </div>
            @Html.Raw(@Model.Content)
            <div class="clearfix">
                <div class="clearfix question-tags">
                    @foreach (var item in Model.Tags)
                    {
                        <span class="label label-default">@item.Name</span>
                    }
                </div>
                <div class="question-actions">
                    <span class="label label-default add-comment">ADD COMMENT</span> • 
                    <span class="label label-success add-answer">ADD ANSWER</span>
                    @if (Model.Author.Username == UsernameExtractor.ExtractUsername(Context.User.Identity.Name))
                    {
                        @:•
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                    }
                </div>
            </div>
        </div>
    </div>
</div>