@using Humanizer
@model System.Collections.Generic.IEnumerable<Yak.DTO.Question>
@{
    ViewBag.Title = "Home Page";
}
<div>
    @foreach (var question in Model)
    {
        <div class="question-row">
            <div class="box unanswered">
                <div class="count-value">0</div>
                <div class="count-label">answers</div>
            </div>
            <div class="votes-count box">
                <div class="count-value">@question.RankPoint</div>
                <div class="count-label">votes</div>
            </div>

            <div class="question-details-box clearfix">
                <div class="question-title">@Html.ActionLink(@question.Title, "View", "Question", new { id = @question.Id }, null)</div>
                <div class="clearfix">
                    <span class="tags">
                        @if (question.Tags != null)
                        {
                            foreach (var tag in question.Tags)
                            {
                                <span class="label label-default">@tag.Name</span>
                            }
                        }
                    </span>
                    <span class="author-link">Written @question.CreateDate.Humanize() by @(!string.IsNullOrEmpty(question.AuthorName) ? question.AuthorName : "Anonymous")</span>
                </div>
            </div>
        </div>
    }
</div>